@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/filter";

$grey: #807a7c;
$white: #fefefe;
$light: #e8e1d7;
$dark: #252123;

$bgmedium: #676263;
$bggrey: #7b7676;

$text: #afabab;


$color_facebook : #004b99;
$color_vk       : #0069b3;
$color_google   : #df4104;
$color_twitter  : #60a9de;
$color_youtube  : #b6252c;


/**** GENERAL ****/
html {position: relative; min-height: 100%; min-width: 320px; background-color: transparent;}
body {background: url('../img/bg-grey.gif'); color: $white; overflow-x: hidden;}
p {color: $text; font-size: 12px; line-height: 12px;}
.clearboth {clear: both; float: none; width: 100%;}
.float-right {float: right;}
.image img {max-width: 100%;}
.full-image img {width: 100%;}
.upper {text-transform: uppercase;}
.ul {display: block; list-style: none; margin: 0; padding: 0;}

textarea {resize: vertical;}
.form-control, .btn {
	display: inline-block; vertical-align: bottom;
	background-color: $bggrey; border: none; box-sizing: border-box; 
	padding: 7px 10px; margin-bottom: 7px;
	outline: none;
	font-size: 10px;
	border: 1px solid $bggrey;
	@include transition(background-color 0.25s ease);
	&:focus {background-color: $bgmedium; border-color: $light;}
	&.full {width: 100%;}
}
.btn-default {
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	&:hover {
		color: #fff; text-decoration: none;
		border-color: $light;
		background-color: $bgmedium;
	}
}
.btn-large {padding: 15px 25px;}

.fancybox-skin {
  position: relative;
  background: $bgmedium;
  text-shadow: none;
  border: 5px solid $white;
}
.popup {
	display: none;
	min-height: 400px;
	p {line-height: 16px; font-size: 16px; color: $light;}
	strong {color: $white;}
	.description {font-size: 14px; color: $white; font-weight: 600; margin-bottom: 15px;}
}
.title {color: $white; font-size: 24px; font-weight: 600; text-shadow: 1px 1px 2px rgba(60, 60, 60, 1); text-transform: uppercase; margin: 5px 0 15px 0;}

/**** PAGE ****/
.header-wrapper {
	background: url('../img/bg-dark.gif');
	.logo-wrapper {text-align: center;}
	.navbar {
		background: url('../img/bg-medium-light.gif') repeat-x;
		text-align: center;
		.nav {position: relative;}
		ul {
			display: inline-block;
			vertical-align: bottom;
		}
		li {
			display: block;
			float: left;
			a {
				display: block; 
				color: #fefefe;
				text-shadow: 1px 1px 1px #000;
				text-align: center; text-transform: uppercase; text-decoration: none; font-size: 12px;
				height: 80px; line-height: 78px; padding: 0 30px;
				background: #989395 url('../img/bg-menu.png') repeat-x;
				background-position: 0 -80px;
				border-left: 1px solid #989395;

				@include transition(background-position 0.25s ease, border-color 0.25s ease);
			}
			&:first-child {
				a {border: none;}
			}
			&.active a, &:hover a {
				background-position: 0 0px;
				border-color: #222222;
			}
		}
		.navicon {
			margin: 10px;
			font-size: 36px; text-align: left;
			cursor: pointer;
			display: none;
			a {
				color: $white;
			}
		}
	}
}

.content {
	padding: 60px 0;
	.box {
		background-color: $bgmedium; padding: 15px 30px; margin-bottom: 30px;
		.title {font-size: 24px; font-weight: 600; text-shadow: 1px 1px 2px rgba(60, 60, 60, 1); text-transform: uppercase; margin: 5px 0 15px 0;}
	}
	.bordered {border: 5px solid $white;}
	.team {
		.box {
			padding: 30px; text-align: center;
			.title { margin: 20px 0;}
			.description {margin-bottom: 20px;}
		}
	}
	.contact {
		.gmap {
			width: 100%; height: 200px; margin-bottom: 15px; background-color: $bggrey;
		}
		.label {
			width: 80px;
			margin-right: 15px;
			display: inline-block;
		}
	}
}
.homepage .content {padding-bottom: 0;}
.with-title .content {
	padding-top: 0; padding-bottom: 30px;
	.title {margin: 30px 0; text-align: center;}
}

.social {
	display: inline-block;
	margin: 0; padding: 0;
	li {
		display: inline-block;
		a {
			display: block;
			width: 54px;
			height: 54px;
			line-height: 54px;
			@include border-radius(50%);
			background-color: $bggrey;
			color: $white;
			display: inline-block; text-align: center;
			height: 36px; width: 36px; line-height: 36px;
			font-size: 18px;
			@include transition(background-color 0.25s);
		}
		&:hover{
			a {
				background-color: $bgmedium;
			}
		}
	}
}

/**** CONTENT ELEMENTS ****/
.carousel-wrapper {
	position: relative;
	.shadow {
		position: absolute; top: 0; bottom: 0; width: 20%;
		background-color: #ccc;
		&.left {
			left: 0;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
			background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
		}
		&.right {
			right: 0;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
			background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
		}
	}
}
.main-carousel {
	.item {
		img {
			width: 100%; height: auto;
			&:hover {
				@include filter (brightness(120%));
			}
		}
	}
}
.partners-carousel {
	.item {
		margin: 0 5px;
		position: relative;
		img {
			width: 100%; height: auto;
		}
		.caption {
			position: absolute; bottom: -100%; left: 0; right: 0;
			padding: 15px; text-align: center;
			background-color: rgba(0,0,0,0.5);
			color: #fff; text-decoration: none;
			@include transition(bottom 0.25s ease);
		}
		&:hover {
			.caption {bottom: 0;}
		}
	}
}
.main-carousel-nav {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	.nav {
		height: 100%; width: 100%; max-width: 920px;
		margin: 0 auto; position: relative;
		.prev, .next {
			display: block; position: absolute; top: 50%; margin-top: -19px;
			height: 38px; width: 38px; line-height: 38px; text-align: center;
			background-color: $grey; color: #fff;
			@include border-radius(50%);
			@include transition(opacity 0.25s ease);
			@include opacity(0.4);
			&:hover {
				@include opacity(1);
			}
		}
		.prev {left: 15px;}
		.next {right: 15px;}
	}	
}
.main-carousel-text {
	padding: 30px 0;
	.item {
		text-align: center;
		.slide-title {text-transform: uppercase;}
	}
}
.owl-theme .owl-controls {
	margin-top: 30px;
	text-align: center;
	.owl-page {
		display: inline-block;
		zoom: 1;
		span {
			display: block;
			width: 12px;
			height: 12px;
			margin: 5px 7px;
			@include opacity(0.4);
			@include border-radius(50%);
			background-color: $grey;
		}
		&.active, &:hover {
			span {
				@include opacity(1);
			}
		}
	}
}

footer {position: absolute; bottom: 0; left: 0; right: 0;}
.footer-wrapper {
	background: url('../img/bg-dark.gif');
	padding: 60px 0 45px 0;
	.footer-widget {
		margin-bottom: 15px;
		.title {text-transform: uppercase; margin: 0; line-height: 36px; font-size: 24px; font-weight: 600;}
	}
	.social {float: right;}
}

/**** RESPONSE ****/
@media screen and (min-width: 600px){
}

@media screen and (max-width: 992px){
	.header-wrapper {
		.navbar {
			li {
				a {padding: 0 20px;}
			}
		}
	}
	.footer-wrapper {
		.footer-widget {text-align: center;}
		.social {float: none; width: 100%;}
	}
	.carousel-wrapper .shadow {display: none;}
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 600px){
	.header-wrapper .navbar {
		.navicon {display: block;}
		ul {
			display: none; position: absolute; z-index: 100; width: 100%; background-color: #fff;
			li {
				display: block; width: 100%;
				a {padding: 0 15px; height: 38px; line-height: 38px; background: $bggrey; border: none;}
				&.active a, &:hover a {
					background: #222222;
				}
			}
		}
	}
}
@media screen and (max-width: 480px){

}
@media screen and (max-width: 400px){

}